
/*------------------------------------------------- */
/* =  Header
 *------------------------------------------------- */

.navbar {
    padding: 0 15px;
    @include transition(0.2s);
    border-bottom: none;
    width: 100%;
    z-index: 999999;
    background: transparent !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    a.navbar-brand {
        float: none;
        img {
            margin-bottom: 5px;
        }
    }
}

header {
    padding: 0;
    z-index: 99999;
    position: relative;
    a.open-close-menu {
        color: #fff;
        font-size: 13px;
    }
}

header.active {
    padding-bottom: 90px;
    .navbar {
        background: #232323 !important;
    }
}

.navbar-nav {
    @include transition(0.2s);
    padding-top: 46px;
    padding-bottom: 46px;
    > li > a {
        color: #fff !important;
        font-size: 12px;
        font-weight: 500 !important;
        font-family: $font-default;
        @include transition(0.2s);
        padding: 6px 22px !important;
        margin: 0 3px;
        text-transform: uppercase;
        letter-spacing: 1px;
        position: relative;
        border: 2px solid transparent;
        @include border-radius(20px);
        i {
            font-size: 13px;
            margin-left: 10px;
        }
    }
    > li > a.active,
    > li > a:hover {
        border: 2px solid #fff;
    }
    li.drop-link {
        position: relative;
    }
}

.navbar-nav.active {
    > li > a {
        opacity: 0;
        visibility: hidden;
    }
}

.navbar-collapse {
    position: relative;
}

.dropdown {
    @extend .reset-elem;
    position: absolute;
    border-top: 2px solid $primary-color;
    top: 100%;
    left: 0;
    background: #fff;
    width: 200px;
    visibility: hidden;
    opacity: 0;
    margin-top: 10px;
    @include transition(0.15s);
    > li {
        position: relative;
        display: block;
        border-bottom: 1px solid #e3e1f3;
        a {
            display: block;
            padding: 14px 20px;
            color: #6c7a89;
            font-size: 12px;
            font-weight: 600;
            font-family: $font-default;
            text-transform: uppercase;
        }
        > a:hover {
            background: #f2f4f8;
            color: $primary-color;
        }
        .dropdown.level2 {
            top: -2px;
            left: 100%;
            border-left: 1px solid #292929;
        }
    }
}
li:hover > .dropdown {
    visibility: visible;
    opacity: 1;
    margin-top: -1px;
}
